body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible {
    display: flex;
    margin: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;

}

.link-batton {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.link {
    text-decoration: none;
    color: aliceblue;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 7px;

}

.wow {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half image {
    width: 80%;
}

.size {
    width: 50%;
    padding-left: 10%;
}

.bithy {
    color: tomato;
}

.hello {
    width: 40%;
    box-shadow: 10px 10px 40px darkolivegreen;
    padding: 5%;
    margin: 5%;
}

.akash {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}